.searchContainer {
  padding: 2rem;
  margin: 1rem;
  scale: 0.87;
  /* font-size: 4rem; */
}

.searchContainer input {
  /* width: 100%; */
  padding: 0.5rem;
  margin: 0 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: var(--lightBlue);
  color: black;
  font-size: 1.2rem;
  /* font-family: 'Karla', sans-serif; */
  font-family: 'Nokora', sans-serif;
}

.searchContainer button {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  background-color: var(--darkBlue);
  cursor: pointer;
  font-size: 1.2rem;
  /* font-family: 'Karla', sans-serif; */
  font-family: 'Nokora', sans-serif;
}

@media (max-width: 480px) {
  .searchContainer {
    padding: 1rem;
    margin: 0.5rem;
    scale: 0.85;
  }

  .searchContainer input {
    margin: 0.5rem;
    width: 50%;
    font-size: 0.9rem;
  }

  .searchContainer button {
    width: 30%;
    font-size: 0.9rem;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .searchContainer {
    padding: 1rem;
    margin: 0.5rem;
    scale: 0.8;
  }

  /* .searchContainer input {
    margin: 0.2rem;
  }

  .searchContainer button {
    width: 20%;
  } */
}
