#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

h1 {
  font-size: 2.2rem;
  font-weight: 700;
  margin-top: 2rem;
}

@media (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }

  #root {
    margin: -2.2rem auto;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  h1 {
    font-size: 2.1rem;
  }

  #root {
    margin: -1.6rem auto;
  }
}
