@import '../src/assets/weather-icons-master/css/weather-icons.min.css';

:root {
  --lightBlue: #9ae1f4ab;
  --darkBlue: #1b6ba0a2;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  /* font-family: 'Karla', sans-serif; */
  font-family: 'Nokora', sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
  /* height: 100%; */
  /* align-items: center;
  justify-content: center; */
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: #9ae0f4;
  background: linear-gradient(
    to bottom,
    #9ae0f4 21%,
    #9ae0f4 22%,
    #a6e4f5 29%,
    #ffffff 83%,
    #ffffff 92%
  );
  background-size: cover;
  background-repeat: no-repeat;
}
