:root {
  --lightBlue: #9ae1f4ab;
  --darkBlue: #1b6ba0a2;
}

html,
body {
  height: 100%;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-image: url(./assets/blue-background.png); */

  /* background-position: center; */

  /* background-color: #97b0c5e3; */
  background: #9ae0f4;
  background: -moz-linear-gradient(
    top,
    #9ae0f4 21%,
    #9ae0f4 22%,
    #a6e4f5 29%,
    #ffffff 83%,
    #ffffff 92%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(21%, #9ae0f4),
    color-stop(22%, #9ae0f4),
    color-stop(29%, #a6e4f5),
    color-stop(83%, #ffffff),
    color-stop(92%, #ffffff)
  );
  background: -webkit-linear-gradient(
    top,
    #9ae0f4 21%,
    #9ae0f4 22%,
    #a6e4f5 29%,
    #ffffff 83%,
    #ffffff 92%
  );
  background: -o-linear-gradient(
    top,
    #9ae0f4 21%,
    #9ae0f4 22%,
    #a6e4f5 29%,
    #ffffff 83%,
    #ffffff 92%
  );
  background: -ms-linear-gradient(
    top,
    #9ae0f4 21%,
    #9ae0f4 22%,
    #a6e4f5 29%,
    #ffffff 83%,
    #ffffff 92%
  );
  background: linear-gradient(
    to bottom,
    #9ae0f4 21%,
    #9ae0f4 22%,
    #a6e4f5 29%,
    #ffffff 83%,
    #ffffff 92%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9ae0f4', endColorstr='#ffffff', GradientType=0 );
  background-size: cover;
  background-repeat: no-repeat;
}
